:root {
  --col_light_0: #ffffff;
  --col_light_0-1: #ffffffdb;
  --col_light_0-3: #ffffffb3;
  --col_light_0-5: #ffffff7f;
  --col_light_0-8: #ffffff36;
  --col_light_1: #fff5e7;
  --col_light_2: #f5e7d3;
  --col_light_3: #6d532e;
  --col_light_4: #634100;
  --col_light_5: #2f2616;
  --col_light_6: #433b2d;
  --col_light_7: #848078;
  --col_light_8: #7e786f;
  --col_light_9: #ffffff00;
}

@font-face {
  font-family: "Jura";
  src: url("./Jura-Regular.ttf");
}
@font-face {
  font-family: "Julius Sans One";
  src: url("./JuliusSansOne-Regular.ttf");
}
@font-face {
  font-family: "IBM Plex Sans Thai Looped";
  src: url("./IBMPlexSansThaiLooped-Regular.ttf");
}
@font-face {
  font-family: "Love Light";
  src: url("./LoveLight-Regular.ttf");
}

@font-face {
  font-family: "Krub";
  src: url("./Krub-Regular.ttf");
}

::selection {
  background-color: var(--col_light_0-5);
  color: var(--col_light_0);
}
html,
body,
header,
.splash,
* {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

body {
  background-color: var(--col_light_2);
  overflow-x: hidden;
}

header {
  user-select: none;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 5;
  /* transform: translate(50%, 5%0); */
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.first_section {
  min-height: 20vh;
}
.navbar {
  width: 100%;
  /* border: 2px solid cyan; */
  /* backdrop-filter: blur(10px); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  font-weight: 100;
  color: var(--col_light_0-1);
}

.navlink {
  display: flex;
  gap: 2rem;
  margin: 1.2rem 0rem;
  font-family: "Jura";
}
.navbar_bg {
  position: absolute;
  /* border: 2px solid green; */
  background-color: rgba(0, 0, 0, 0.1);
  /* filter: brightness(0.9); */
  backdrop-filter: blur(20px);
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.navlink li {
  border-bottom: 0.1rem solid var(--col_light_9);

  display: flex;
  list-style-type: none;
  padding: 0.3rem 0rem;
  transition: all 0.1s;
  z-index: 3;
}
.navlink li:hover {
  color: var(--col_light_0);
  border-bottom: 0.1rem solid var(--col_light_0);
}

.navlink_active {
  color: var(--col_light_0);
  border-bottom: 0.1rem solid var(--col_light_0-5) !important;
}
.navlink_active:hover {
  color: var(--col_light_0);
  border-bottom: 0.1rem solid var(--col_light_0) !important;
}

.background {
  background-image: url("./mount.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 78vh;
  min-height: 200px;
}

.landing_container {
  /* border: 2px solid black; */
  position: absolute;
  top: 28vh;
  left: 50%;
  transform: translate(-48%, 28%);
  height: 20vh;
  width: max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}
.landing_title {
  font-family: "Julius Sans One";
  font-size: 2.4rem;
  font-weight: 900;
  color: var(--col_light_0);
  text-align: center;
  position: relative;
  backdrop-filter: blur(7px);
  padding: 1rem 3rem 1rem 3rem;
  background-color: rgba(0, 0, 0, 0);
  cursor: default;
  /* border: 2px solid var(--col_light_0); */
}
.landing_verse_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: default;
}

.landing_verse {
  color: var(--col_light_0-3);
  text-align: center;
  font-weight: 100;
  font-size: 0.8rem;
  font-family: "IBM Plex Sans Thai Looped";
  width: fit-content !important;
  position: relative;
}

.line {
  position: relative;
  width: 14%;
  height: 0.1rem;
  background-color: var(--col_light_0-8);
  bottom: 0;
  left: 0;
  z-index: 2;
}

.bg_picker {
  /* border: 2px solid red; */
  position: relative;
  left: 50%;
  transform: translate(-50%, -2.1rem);
  width: max-content;
}
.bg_picker ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  font-size: 0.9rem;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;

  color: var(--col_light_0);
}
.bg_picker ul li {
  list-style: circle;
  cursor: pointer;
}
.bg_picker ul li:hover {
  list-style: disc;
  cursor: pointer;
  color: var(--col_light_0-1);
}

.bg_picker ul .active {
  list-style: disc;
  font-size: 1.3rem;
}

.splash {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
}
.logo_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8vw;
  height: 8vw;
  border: 0.1rem solid var(--col_light_0-8);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease;
  align-items: center;
  animation: splash_zoom 1s forwards;
}
@keyframes splash_zoom {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  99% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 1;
    border: 50rem solid transparent;
    transform: translate(-50%, -50%) scale(1);
  }
}

svg {
  transform: scale(0.5);
}

svg path {
  animation: outline_anime 4s infinite;
}

@keyframes outline_anime {
  0% {
    stroke-dasharray: 0 1000;
  }
  70% {
    stroke-dasharray: 1000 0;
  }
  80% {
    stroke-dasharray: 1000 0;
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(10deg);
    stroke-dasharray: 0 1000;
  }
  100% {
    stroke-dasharray: 0 1000;
  }
}

.splash_fade {
  transition: 0.8s ease;
  opacity: 0;
  backdrop-filter: blur(0px);
  z-index: -10;
}

.logo_cont_out {
  height: 0vw;
  width: 0vw;
}

h1 {
  font-family: "Love Light";
  font-size: 4rem;
  font-weight: 300;
  color: var(--col_light_5);
}

.center_title {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
}

article {
  margin: 0rem 11rem;
  font-family: "Krub";
  font-size: 1.12rem;

  color: var(--col_light_5);
  line-height: 1.8;
  /* letter-spacing: 0.1rem; */
}

.vm_container {
  display: flex;
  margin: 4rem 11.5rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  align-content: flex-start;
}
.wbut {
  background: var(--col_light_3);
  border: 0.05rem solid var(--col_light_3);
}
.wbut:hover .wbutin3 {
  height: 0;
}
.wbutin {
  width: 8rem;
  height: 2.5rem;
  color: var(--col_light_6);
  background-color: var(--col_light_2);
  border: 0.05rem solid var(--col_light_3);
  transition: 0.2s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  justify-content: center;
  transform: translate(-3%, -10%);
}

.wbutin:hover {
  transform: translate(0%, 0%);
}
.line2 {
  position: relative;
  width: 100%;
  height: 0.1rem;
  background-color: var(--col_light_3);

  bottom: 0;
  left: 0;
  z-index: 2;
  opacity: 0.2;
  margin: 0rem 2rem 0rem 4rem;
}
