:root {
  --col_light_0: #ffffff;
  --col_light_0-1: #ffffffdb;
  --col_light_0-3: #ffffffb3;
  --col_light_0-5: #ffffff7f;
  --col_light_0-8: #ffffff36;
  --col_light_1: #fff5e7;
  --col_light_2: #f5e7d3;
  --col_light_3: #6d532e;
  --col_light_4: #634100;
  --col_light_5: #2f2616;
  --col_light_6: #433b2d;
  --col_light_7: #848078;
  --col_light_8: #7e786f;
  --col_light_9: #ffffff00;
}

@font-face {
  font-family: "Jura";
  src: url("./Jura-Regular.ttf");
}
@font-face {
  font-family: "Julius Sans One";
  src: url("./JuliusSansOne-Regular.ttf");
}
@font-face {
  font-family: "IBM Plex Sans Thai Looped";
  src: url("./IBMPlexSansThaiLooped-Regular.ttf");
}
@font-face {
  font-family: "Love Light";
  src: url("./LoveLight-Regular.ttf");
}

@font-face {
  font-family: "Krub";
  src: url("./Krub-Regular.ttf");
}

::selection {
  background-color: var(--col_light_0-5);
  color: var(--col_light_0);
}
html,
body,
header,
.splash,
* {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--col_light_2);
  overflow-x: hidden;
}

header {
  user-select: none;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 5;
  /* transform: translate(50%, 5%0); */
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.first_section {
  min-height: 20vh;
}
.navbar {
  width: 100%;
  /* border: 2px solid cyan; */
  /* backdrop-filter: blur(10px); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  font-weight: 100;
  color: var(--col_light_0-1);
}

.navlink {
  display: flex;
  gap: 2rem;
  margin: 1.2rem 0rem;
  font-family: "Jura";
}
.navbar_bg {
  position: absolute;
  /* border: 2px solid green; */
  background-color: rgba(0, 0, 0, 0.1);
  /* filter: brightness(0.9); */
  backdrop-filter: blur(20px);
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.navlink li {
  border-bottom: 0.1rem solid var(--col_light_9);

  display: flex;
  list-style-type: none;
  padding: 0.3rem 0rem;
  transition: all 0.1s;
  z-index: 3;
}
.navlink li:hover {
  color: var(--col_light_0);
  border-bottom: 0.1rem solid var(--col_light_0);
}

.navlink_active {
  color: var(--col_light_0);
  border-bottom: 0.1rem solid var(--col_light_0-5) !important;
}
.navlink_active:hover {
  color: var(--col_light_0);
  border-bottom: 0.1rem solid var(--col_light_0) !important;
}

.background {
  background-image: url("./mount.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 78vh;
  min-height: 200px;
}

.landing_container {
  /* border: 2px solid black; */
  position: absolute;
  top: 28vh;
  left: 50%;
  transform: translate(-48%, 28%);
  height: 20vh;
  width: max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}
.landing_title {
  font-family: "Julius Sans One";
  font-size: 2.4rem;
  font-weight: 900;
  color: var(--col_light_0);
  text-align: center;
  position: relative;
  backdrop-filter: blur(7px);
  padding: 1rem 3rem 1rem 3rem;
  background-color: rgba(0, 0, 0, 0);
  cursor: default;
  /* border: 2px solid var(--col_light_0); */
}
.landing_verse_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: default;
}

.landing_verse {
  color: var(--col_light_0-3);
  text-align: center;
  font-weight: 100;
  font-size: 0.8rem;
  font-family: "IBM Plex Sans Thai Looped";
  width: fit-content !important;
  position: relative;
}

.line {
  position: relative;
  width: 14%;
  height: 0.1rem;
  background-color: var(--col_light_0-8);
  bottom: 0;
  left: 0;
  z-index: 2;
}

.bg_picker {
  /* border: 2px solid red; */
  position: relative;
  left: 50%;
  transform: translate(-50%, -2.1rem);
  width: max-content;
}
.bg_picker ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  font-size: 0.9rem;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;

  color: var(--col_light_0);
}
.bg_picker ul li {
  list-style: circle;
  cursor: pointer;
}
.bg_picker ul li:hover {
  list-style: disc;
  cursor: pointer;
  color: var(--col_light_0-1);
}

.bg_picker ul .active {
  list-style: disc;
  font-size: 1.3rem;
}

.splash {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
}
.logo_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8vw;
  height: 8vw;
  border: 0.1rem solid var(--col_light_0-8);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease;
  align-items: center;
  animation: splash_zoom 1s forwards;
}
@keyframes splash_zoom {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  99% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 1;
    border: 50rem solid transparent;
    transform: translate(-50%, -50%) scale(1);
  }
}

svg {
  transform: scale(0.5);
}

svg path {
  animation: outline_anime 4s infinite;
}

@keyframes outline_anime {
  0% {
    stroke-dasharray: 0 1000;
  }
  70% {
    stroke-dasharray: 1000 0;
  }
  80% {
    stroke-dasharray: 1000 0;
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(10deg);
    stroke-dasharray: 0 1000;
  }
  100% {
    stroke-dasharray: 0 1000;
  }
}

.splash_fade {
  transition: 0.8s ease;
  opacity: 0;
  backdrop-filter: blur(0px);
  z-index: -10;
}

.logo_cont_out {
  height: 0vw;
  width: 0vw;
}

.second_section {
  margin-top: 10rem;
}
h1 {
  font-family: "Love Light";
  font-size: 4rem;
  font-weight: 300;
  color: var(--col_light_5);
}

.center_title {
  margin-top: 3rem;
  /* width: 100%; */
  text-align: center;
}
.side_title {
  width: inherit;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.side_cont {
  /* margin-top: 3rem; */
  margin-left: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}
.sunday_tit {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  /* margin-top: 1rem; */
  align-items: center;
  margin-top: 1rem;
}
.sunday_art {
  margin: 0rem 0rem;
  font-family: "Krub";
  font-size: 1.12rem;
  color: var(--col_light_5);
  line-height: 1.8;
  margin-right: 7rem;
}
.line3 {
  height: 0.1rem;
  width: 86%;
  background-color: var(--col_light_3);
  opacity: 0.2;
  margin: 0rem 7rem 0rem 0rem;
}
.sunday_cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  justify-content: space-between;
}
.photoframe_cont {
  margin-right: 7rem;
  height: 27rem;
  width: 49rem;
  display: flex;
  flex-direction: column;
}
.photos {
  cursor: pointer;
  height: 27rem;
  width: 27rem;
  background-color: #7e786f;
  transform: translate(-5%, 5%);
}
.photoframe1 {
  position: absolute;
  height: 27rem;
  width: 27rem;
  background-color: #3b3b3b;
  transform: translate(-5%, 5%);
  background-image: url("./mount.png");
  z-index: 1;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.photoframe2 {
  position: absolute;
  background-color: #7e786f;
  height: 27rem;
  width: 27rem;
  z-index: 0;
  background-image: url("./Mountains.png");
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
article {
  margin: 0rem 10rem;
  font-family: "Krub";
  font-size: 1.12rem;

  color: var(--col_light_5);
  line-height: 1.8;
  /* letter-spacing: 0.1rem; */
}
.photoframe_picker {
  color: var(--col_light_7);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5rem;
}
.photoframe_picker ul {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2rem;
  margin-top: 29rem;
}
.photoframe_picker ul li {
  cursor: pointer;
  list-style: circle;
}
.photoframe_picker ul li:hover {
  list-style: disc;
}
.photoframe_picker ul .active {
  list-style: disc;
  font-size: 1.5rem;
}
.photoframe_picker ul .active:hover {
  list-style: disc;
  opacity: 0.6;
}
.photoframe_picker_triangle {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 0.28rem solid transparent;
  border-bottom: 0.28rem solid transparent;
  border-left: 0.4rem solid var(--col_light_7);
  border-radius: 20%;
  transform: translate(-1rem, 0);
  cursor: pointer;
}
.photoframe_picker_triangle:hover {
  opacity: 0.6;
}
.vm_container {
  display: flex;
  margin: 4rem 10.5rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  align-content: flex-start;
}
.wbut {
  background: var(--col_light_3);
  border: 0.05rem solid var(--col_light_3);
}
.wbut:hover .wbutin3 {
  height: 0;
}
.wbutin {
  width: 8rem;
  height: 2.5rem;
  color: var(--col_light_6);
  background-color: var(--col_light_2);
  border: 0.05rem solid var(--col_light_3);
  transition: 0.1s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  justify-content: center;
  transform: translate(-3%, -10%);
}

.wbutin:hover {
  transform: translate(0%, 0%);
}
.line2 {
  position: relative;
  width: 100%;
  height: 0.1rem;
  background-color: var(--col_light_3);

  bottom: 0;
  left: 0;
  z-index: 2;
  opacity: 0.2;
  margin: 0rem 2rem 0rem 4rem;
}

.bigger_but {
  width: 15rem;
  height: 8rem;
}
.sunday_but {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
}
.sund_button_cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 5rem;
}
.wbutin2 {
  transform: translate(-3%, -7%);
}

.services {
  margin: 7rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.lineupdate3 {
  /* width: 68%;
  margin: 0px 0rem 0 5rem; */

  width: 100%;
  margin: 0px 0rem 0 0rem;
}
.sidetil_update {
  width: 30rem;
}

.meeting_desc_cont {
  display: flex;
  gap: 7rem;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: center;
  justify-content: flex-start;
}

.meeting_time {
  width: 28rem;
  min-width: 20rem;
  height: 12rem;
  background: var(--col_light_0-8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.meeting_desc {
  border: 2px sold blue;
  margin: 0rem 1rem;
  font-family: "Krub";
  font-size: 1.12rem;

  color: var(--col_light_5);
  line-height: 1.8;
  /* letter-spacing: 0.1rem; */
}
.gizga {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.meeting_loca {
  text-align: center;
  font-family: "Krub";
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.meeting_sec {
  text-align: center;
  font-family: "Krub";
}

.media_cont {
  background: var(--col_light_5);
  height: 30rem;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0%);
  width: fit-content;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  padding: 0rem 2rem;
  margin-bottom: 7rem;
}

.media_live {
  height: 100%;
  /* transform: scale(0.8); */
  width: 100%;
  background: var(--col_light_5);
}

.team_cont {
  margin: 0rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8rem;
  align-items: center;
  gap: 6rem;
}

.team_card {
  background-color: var(--col_light_6);
  cursor: pointer;
  min-width: 23rem;
}
.team_card:hover .cardbase {
  transform: translate(0%, 0%);
  transition: 0.3s ease;
}
/* .team_text:hover {
  text-decoration: underline;
} */
.cardbase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 0.2rem solid var(--col_light_6);
  background-color: var(--col_light_2);
  transform: translate(-2%, -4%);
  padding: 2rem 1rem;
  z-index: 1;
}
.team_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "Krub";
  font-size: 1em;
  letter-spacing: 0.2rem;
}
.tt1 {
  font-size: 1.4rem;
  font-weight: 500;
}
.tt2 {
  font-size: 0.8rem;
  font-weight: 100;
}
.team_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Krub";
  gap: 0.6rem;
}
.team_contact_icon {
  display: flex;
  width: 100%;
  /* width: 18rem; */
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 2rem;
  flex-wrap: nowrap;
  align-content: flex-start;
  color: var(--col_light_4);
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.team_contact_icon:hover .ahover {
  text-decoration: underline;
}

.closing_text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 10rem;
}

.punch_line {
  padding: 5rem 10rem 0rem 10rem;
  font-family: "Krub";
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--col_light_4);
  text-align: center;
  line-height: 1.8;
  border-top: 0.1rem solid var(--col_light_8);
  letter-spacing: 0.3rem;
}

footer {
  width: 100%;
  height: 40rem;
  height: max-content;
  background-color: var(--col_light_5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.foot_1 {
  width: 100%;
  margin: 0rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
  align-content: center;
}

.foot11 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "Krub";
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 2rem;
}
.line7 {
  width: 1000%;
  height: 0.1rem;
  background-color: #ffffff;
  opacity: 0.2;
  position: relative;
}
.logo {
  width: 8rem;
  height: 8rem;
  /* background-color: var(--col_light_0-8); */
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot_2 {
  width: 100%;
  background-color: #7e786f51;
  height: 24rem;
}

.foot_3 {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "Krub";
  color: var(--col_light_0-5);
  letter-spacing: 0.1rem;
  font-size: 0.6rem;
}
